@import "compass/css3", "compass/support", "utilities/normalize", "utilities/fonts", "utilities/functions", "utilities/mixins", "utilities/variables", "partials/nav", "partials/forms";

body {
	background: #f5f5f5;
	color: #222;
	font: 300 1rem/125% 'Roboto Condensed', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	visibility: hidden;
	@extend %display-flex;
	@include flex-property(flex-flow, column);
	&.home {
		background: $plum;
	}
	&[screen_capture_injected="true"] {
		visibility: visible;
	}
}

h1, h2 {
	font: 300 1.75rem 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

a {
	color: #222;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

main {
	@include flex-property(order, 2);
	box-sizing: border-box;
	margin: 0 auto;
	max-width: $max;
	padding: 0 10px;
	width: 100%;
	@include breakpoint($max + 10px) {
		padding: 0;
	}
}
