.recipe-edit {
	margin-bottom: 2em;
	overflow: hidden;
	position: relative;

	.hidden {
		@extend %wai;
		border: 0;
		height: 0;
		width: 0;
	}

	p {
		margin: 0 0 1em;
	}

	input, textarea {
		background: #fdfdfd;
		box-sizing: border-box;
		border: 1px solid #eee;
		border-radius: 2px;
		font-weight: 300;
		&:focus {
			background: #fff;
			border-color: rgba($plum, .75);
			outline: 0;
		}
		@include placeholder {
			font-weight: 300;
		}

		&.ng-invalid-required {
			background-image: image-url("asterisk.svg");
			background-repeat: no-repeat;
			background-position: top right;
			background-size: 1.5rem auto;
		}
	}

	input {
		padding: 3px;
	}

	textarea {
		padding: .5em;
		width: 100%;
	}

	fieldset {
		border: 0;
		margin: 0 0 2em;
		padding: 0;

		fieldset {
			margin: 0;
		}
	}

	legend {
		@extend h2;
		display: block;
		padding: 0 0 .25em;
		width: 100%;
	}

	textarea {
		resize: vertical;
	}

	#recipe-name {
		@extend h1;
		margin: .6em 0;
		width: 100%;
		@include placeholder {
			font-weight: 400;
			line-height: 1.25em;
		}
	}

	.recipe-image {
		position: relative;
		@include breakpoint($small) {
			float: left;
			margin-right: 2em;
			width: 40%;
		}
		&:hover, &.focused {
			.preview {
				border-radius: 3px;
				img {
					opacity: .25;
				}
			}	
			label, #recipe-image-remove {
				opacity: .5;
			}
		}

		&.loading {
			.preview {
				background: rgba($plum, .05);
				min-height: 100px;

				@include breakpoint($small) {
					min-height: 300px;
				}
			}

			.preview img, label, button {
				display: none;
			}
		}
		legend, input[type="file"] {
			@extend %wai;
			border: 0;
			height: 0;
			width: 0;
		}
		label {
			background:image-url("camera.svg") no-repeat center / 60px auto;
			display: block;
			cursor: pointer;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			text-indent: -9999em;
			top: 0;
			transition: opacity 200ms ease;
			width: 50%;

			&:hover, &:focus, &[data-focused="true"] {
				opacity: 1;
			}
		}

		#recipe-image-remove {
			background: image-url("close.svg") no-repeat center / 40px auto;
			border: 0;
			height: 100%;
			opacity: 0;
			overflow: hidden;
			padding: 0;
			right: 0;
			position: absolute;
			text-indent: -9999em;
			transition: opacity 200ms ease;
			top: 0px;
			width: 50%;

			&:hover, &:focus {
				outline: none;
				opacity: 1;
			}
		}

		.preview {
			border: 1px $plum dashed;
			border-radius: 3px;
			overflow: hidden;

			img {
				display: block;
				height: auto;
				max-width: 100%;
				opacity: 1;
				transition: opacity 200ms ease;
			}
		}

		&.no-image {
			label {
				left: 0;
				height: 100%;
				opacity: .5;
				width: 100%;

				&:hover, &:focus, &[data-focused="true"] {
					opacity: 1;
				}
			}

			.preview {
				background: rgba($plum, .05);
				min-height: 100px;

				@include breakpoint($small) {
					min-height: 300px;
				}
			}
		}
	}

	.ingredient-group-name {
		margin: 0 0 .5em;
		padding-right: 2.125em;
		input {
			width: 100%;
		}
	}

	.ingredient-groups {
		position: relative;
		// > div {
		// 	display: flex;
		// 	flex-flow: row wrap;
		// 	justify-content: space-between;
		// }
	}

	.ingredient-group {
		box-sizing: border-box;
		margin-bottom: 1em;
		position: relative;
		// width: 100%;
		// @include breakpoint(900px) {
		// 	width: 50%;
		// 	&:nth-child(odd) {
		// 		padding-right: 2em;

		// 		.remove-group {
		// 			right: 2em;
		// 		}
		// 	}
		// 	&:nth-child(even) {
		// 		padding-left: 2em;
		// 	}
		// }

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			fieldset > div {
				display: flex;
				flex-flow: row nowrap;
			}

			li {
				margin-bottom: .5em;
				padding-right: 1em;
			}

			input {
				margin-right: 5px;
				width: 10px;
				&[data-ng-model="ingredient.amount"] {
					flex: 0 0 auto;
					width: 2.75em;
				}
				&[data-ng-model="ingredient.unit"] {
					flex: 1 1 auto;
				}
				&[data-ng-model="ingredient.type"] {
					flex: 2 1 auto;
				}
			}
		}
	}

	.add-ingredient {
		@extend %add-item;
		padding: 3px 1em 3px 0;

		&:before, &:after {
			left: 0;
		}

		&:before {
			background: $bg inline-image("add.svg") no-repeat center/53% auto;
			transition: all 50ms ease;
			width: 1.75em;
		}

		&:hover, &:focus {
			padding-left: 2.875em;

			&:before {
				background-size: 65% auto;
				transition: all 75ms ease-out;
			}
		}
	}

	.add-ingredient-group {
		@extend %add-item;
		padding: 3px 0 3px 1em;
		position: absolute;
		right: -4px;
		top: -.5em;

		&:before {
			@extend %group-item;
			content: "";
			display: block;
			right: 4px;
			top: 4px;
		}

		&:after {
			background: $bg inline-image("add.svg") no-repeat center/34% auto;
			border-left: 3px solid $bg;
			bottom: 1px;
			right: 0;
			transition: background-size 50ms ease;
		}

		&:hover, &:focus {
			padding-right: 3.125em;

			&:after {
				background-size: 45% auto;
				transition: background-size 200ms $bounce;
			}
		}
	}

	%remove-item {
		backface-visibility: hidden;
		opacity: .15;
		transition: all 50ms ease;
		&:hover, &:focus {
			opacity: 1;
			outline: 0;
			transition: background-size 200ms $bounce, opacity 200ms ease;
		}
	}

	.remove-ingredient {
		@extend %remove-item;
		background: inline-image("close.svg") no-repeat center/30% auto;
		border: 0;
		height: 1.875rem;
		padding: 0;
		position: relative;
		text-indent: -9999em;
		width: 1.875rem;

		&:hover, &:focus {
			background-size: 50% auto;
			opacity: 1;
			outline: 0;
		}
	}

	.remove-group {
		@extend %remove-item;
		@extend %group-item;
		right: 0;
		text-indent: -9999em;
		top: 0;

		&:before {
			backface-visibility: hidden;
			background: inline-image("close.svg") no-repeat center/40% auto;
			content: "";
			display: block;
			height: 20px;
			left: 0;
			position: absolute;
			width: 20px;
			top: 0;
			transition: background-size 50ms ease;
		}

		&:hover, &:focus {
			&:before {
				background-size: 60% auto;
				transition: background-size 200ms $bounce;
			}
		}
	}

	#recipe-instructions {
		min-height: 200px;
	}

	.instructions {
		clear: both;
	}

	.temperature {
		@extend %temperature;
		float: left;
		font-weight: 400;
		margin-right: 10px;
		padding: 0 0 0 1.75em;

		&:after {
			position: absolute;
			right: .5em;
			top: .3em;
		}

		input {
			font-weight: 400;
			padding: .25em 1.5em .25em .5em;
			width: 4.75em;

			&:focus {
				border-radius: 0;
			}
		}
	}

	.notes {
		clear: both;
		label {
			font-style: italic;
		}
		textarea {
			font-style: italic;
		}
	}

	.tags {
		@extend %recipe-tags;

		ul {
			background: #fdfdfd;
			box-sizing: border-box;
			border: 1px solid #eee;
			border-radius: 2px;
			padding: .5em .5em .25em;
		}

		li a {
			padding-right: 2em;
			&:after {
				background: inline-image("close-white.svg") no-repeat center/40% auto;
				bottom: 0;
				content: "";
				display: block;
				opacity: .4;
				right: 3px;
				position: absolute;
				transition: background-size 50ms ease, opacity 100ms ease;
				top: 0;
				width: 1.5rem;
			}

			&:hover, &:focus {
				&:after {
					background-size: 50% auto;
					opacity: 1;
				}
			}
		}

		input {
			border: 0;
			background: none;
			color: $plum;
			margin-bottom: .2em;
			min-width: 12em;
			@include placeholder {
				color: $plum;
			}

			&:focus {
				@include placeholder {
					color: transparent;
				}
			}
		}
	}

	.submit-controls {
		align-items: flex-start;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	.save {
		font-weight: 300;
		margin-right: 10px;
		padding: .25em .75em;

		&:after {
			background: inline-image("save.svg") no-repeat center/100% auto;
			content: "";
			display: inline-block;
			float: left;
			height: 1em;
			margin-right: 10px;
			position: relative;
			top: 1px;
			width: 1em;
		}

		&:hover, &:focus {
			font-size: 1.25em;
		}
	}

	.save-overlay {
		background: rgba($bg, .75);
		bottom: 0;
		display: block;
		font-size: 3em;
		left: 0;
		padding-top: 8em;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;

		p {
			color: $plum;
			text-align: center;
		}

		span {
			@include loader(4em);
			top: 3em;
		}
	}

	.cancel {
		background-color: desaturate($plum, 100%);
		opacity: .4;

		&:hover, &:focus {
			opacity: 1;
		}
	}

	.error-message {
		span {
			@extend %status-message;
		}

		&.temperature-error span {
			clear: left;
			float: left;
			position: relative;
			top: -.875em;
		}
	}

	.form-status-message {
		@extend %status-message;
		margin: .75em 0 0;

		&:before {
			background: image-url("sync.svg") no-repeat top left/100% auto;
			content: "";
			display: inline-block;
			float: left;
			height: 1em;
			margin-right: 3px;
			width: 1em;
		}

		&.synced:before {
			background-position: left 1px;
		}

		&.unsynced:before {
			background-position: left 50%;
		}

		&.error:before {
			background-position: left 100%;
			width: 1.125em;
		}
	}
}





