.sudo-login {
	margin: 15% auto 0;
	max-width: 400px;

	h1 {
		text-align: center;
	}

	form {
		font-size: 1.5em;

		input{
			background: #fdfdfd;
			box-sizing: border-box;
			border: 1px solid #eee;
			border-radius: 2px;
			display: block;
			font-weight: 300;
			margin-bottom: .5em;
			padding: .25em;
			width: 100%;

			&:focus {
				background: #fff;
				border-color: rgba($plum, .75);
				outline: 0;
			}

			@include placeholder {
				font-weight: 300;
			}
		}

		label {
			@extend %wai;
		}

		button {
			background: $plum;
			color: #fff;
			font-weight: 300;
			margin-top: 1em;
			width: 100%;
		}
	}
}