@mixin navLinkDrop {
	border-radius: 0 0 1px 1px;
	box-sizing: border-box;
	display: block;
	left: 0;
	padding: .75em 1em .5em;
	position: absolute;
	visibility: hidden;
	text-indent: -9999em;
	z-index: 1;
	
	&:before {
		background: $plum;
		content: "";
		display: block;
		height: 2.5em;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
}

@mixin navLinkDropHover {
	background: darken($plum, 2%);
	text-indent: 0;
	visibility: visible;

	&:before {
		top: -2.25em;
	}
}

#skip-to-nav {
	overflow: hidden;
	position: absolute;
	text-indent: -9999em;
	z-index: -1;
	.js & {
		background: inline-image("menu-closed.png") no-repeat center / 100% auto;
		display: block;
		height: 50px;	
		right: 2px;
		top: -15px;
		width: 50px;
		z-index: 2;
		-webkit-backface-visibility: hidden;
		transition: top 200ms $bounce;
		&:hover, &:focus, &.open {
			background: inline-image("menu-open.png") no-repeat center / 100% auto;
			top: 0px;
		}
		@include breakpoint($small) {
			display: none;
		}
	}
	.home & {
		display: none;
	}
}

nav {
	background: $plum;
	box-sizing: border-box;
	//-ms-flex-order: 1;
	order: 1;

	h1 {
		color: #fff;
		font-size: 1.75rem;
		font-weight: 300;
		letter-spacing: normal;
		margin: 0;
		a {
			color: #fff;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		clear: both;
		list-style: none;
		margin: 10px 0;
		padding: 0;
		width: 100%;

		&:hover, &:focus {
			outline: 0;
		}

		@include breakpoint($small) {
			flex-flow: row nowrap;
			margin: 0;
			width: auto;
		}

		li {
			margin-bottom: .25em;
		}

		a {
			background: $plum;
			box-sizing: border-box;
			color: #fff;
			display: block;
			position: relative;

			b {
				font-weight: normal;
			}

			&:before, &:after {
				content: "";
				display: block;
				position: absolute;		
			}

			&:before {
				background: #fff;
				left: 0;
				top: 0;
				z-index: 3;
			}

			&:after {
				transition: all 100ms ease;
				z-index: 4;
			}

			&:hover, &:focus {
				text-decoration: none;

				&:before {
					z-index: 3;
				}
			}

			$noms: cookies cake brownies bread candy other;
			@each $nom in $noms {
				&.#{$nom} {
					&:after {
						background: image-url("#{$nom}.svg") no-repeat center/85% auto;
					}
					&:hover, &:focus {
						&:after {
							background-size: 100% auto;
						}
					}
				}
			}
		}
	}

	form {
		box-sizing: border-box;

		p {
			margin: 0;
			position: relative;
		}

		label {
			@extend %wai;
		}

		input {
			background: darken($plum, 2%);
			border: none;
			border-radius: 3px;
			box-shadow: -1px -1px 2px 0 rgba(0,0,0,.5);
			box-sizing: border-box;
			color: rgba(255,255,255,.75);
			font-size: 16px;
			padding: 5px 35px 5px 5px;
			width: 100%;
			-webkit-appearance: none;
			&:focus {
				background-color: darken($plum, 5%);
				outline: 0;
			}
			&::-webkit-input-placeholder {
			   color: rgba(255,255,255,.4);
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: rgba(255,255,255,.4);
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: rgba(255,255,255,.4);
			}

			&:-ms-input-placeholder {  
			   color: rgba(255,255,255,.4);
			}
		}

		button {
			background: inline-image("whisk.svg") no-repeat 3px 2px/26px 25px;
			border: 0;
			bottom: 0;
			outline: none;
			overflow: hidden;
			position: absolute;
			right: 2px;
			text-indent: -9999em;
			top: 0;
			width: 33px;
		}
	}
}

nav:not(.home) {
	padding: 10px 0;
	@include breakpoint($small) {
		padding: 0 10px;
	}

	> div {
		margin: 0 auto;
		max-width: $max;
	}
	
	h1 {
		line-height: .75em;
		padding: 0 10px;
		@include breakpoint($small) {
			float: left;
			padding: 12px 0 8px;
		}
	}
	.nav-actions {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		@include breakpoint($small) {
			float: right;
		}
	}
	.js & {
		.nav-actions {
			max-height: 0;
			overflow: hidden;
			transition: all 150ms ease;
			@include breakpoint($small) {
				max-height: none;
				overflow: visible;
			}
		}
		&.open {
			.nav-actions {
				max-height: 22em;
				@include breakpoint($micro) {
					max-height: 13em;
				}
			}
		}
	}

	ul {
		li {
			width: 100%;
			@include breakpoint($micro) {
				width: 49%;
			}
			@include breakpoint($small) {
				margin: 0;
				width: auto;
			}
		}

		a {
			padding: .75em 0 .75em 3.5em;
			transition: padding-left 150ms ease;

			&:before {
				height: 100%;
				width: 0;
				transition: all 200ms $bounce;
				@include breakpoint($small) {
					height: 0;
					right: 0;
				}
			}

			&:after {
				height: 2.5em;
				left: 10px;
				top: .125em;
				width: 2.5em;
				
				@include breakpoint($small) {
					left: .25em;
				}
			}

			&:hover, &:focus {
				background: rgba(0,0,0,.125);
				padding-left: 4.25em;
				transition: padding-left 200ms cubic-bezier(0.175, 1.75, 0.7, 1.275);
				
				&:before {
					width: 3.75em;
					@include breakpoint($small) {
						height: 2.75em;
						width: auto;
					}
				}
			}

			@include breakpoint($small) {
				height: 2.75em;
				padding: 2.5em .5em 0 .5em;
				text-align: left;
				width: 3em;

				b {
					@include navLinkDrop;
					width: 3em;
					top: 0;
					transition: top 100ms $bounce 100ms, background 0s linear 100ms, text-indent 0s linear 120ms;
				}

				&:hover, &:focus {
					padding-left: .5em;

					b {
						@include navLinkDropHover;
						top: 2.5em;
						width: auto;
					}
				}
			}
		}
	}
	
	form {
		padding: 0 10px;
		width: 100%;
		z-index: 5;
		@include breakpoint($small) {
			padding: .5em 0 0 10px;
			width: auto;
		}
		input {
			@include breakpoint($small) {
				width: 6em; 
				transition: width 100ms ease;
				&:focus {
					width: 11em;
				}
			}
		}
	}
}

$homeDelay: 1000ms;

nav.home {
	h1 {
		background: $plum;
		padding-top: 8%;
		line-height: normal;
		opacity: 1;
		position: relative;
		text-align: center;
		z-index: 5;
		@include breakpoint($small){
			padding-top: 7%;
		}
		a {
			background: image-url("nomsbase.svg") no-repeat center/100% auto;
			color: transparent;
			display: block;
			font-size: 2.75em;
			letter-spacing: -.05em;
			margin: 0 auto;
			opacity: 1;
			overflow: hidden;
			transition: opacity $homeDelay ease;
			width: 80%;
			@include breakpoint($tiny){
				font-size: 3.75em;
			}
			@include breakpoint($small){
				background: none;
				color: #fff;
				display: inline;
				font-size: 5em;
				width: auto;
			}
		}
	}

	.nav-actions {
		background: $plum;
	}

	ul {
		background: $plum;
		margin: 10px auto;
		max-width: 1000px;
		width: 80%;

		li {
			width: 48%;
			@include breakpoint($tiny) {
				width: 32%;
			}
			@include breakpoint($small) {
				width: unquote((100/6)+"%");
			}
		}

		//animation delays
		@for $a from 1 through 6 {
			li:nth-child(#{$a}) {
				a {
					transition-delay: ($a - 1)*200 + $homeDelay;
				}
			}
		}

		@for $i from 0 through 2 {
			li:nth-child(#{(2 * $i) + 1}), li:nth-child(#{(2 * $i) + 2}) {
				a {
					transition-duration: 200ms + ($i * 25ms);
					transition-timing-function: cubic-bezier(0.175, 0.6 - (.2 * $i), 0.32, 1.275 - (.05 * $i));
				}
			}
		}

		@include breakpoint($tiny) {
			@for $i from 0 through 1 {
				li:nth-child(#{(3 * $i) + 1}), li:nth-child(#{(3 * $i) + 2}), li:nth-child(#{(3 * $i) + 3}) {
					a {
						transition-duration: 200ms + ($i * 25ms);
						transition-timing-function: cubic-bezier(0.175, 0.6 - (.2 * $i), 0.32, 1.275 - (.05 * $i));
					}
				}
			}
		}

		@include breakpoint($small) {
			@for $i from 1 through 6 {
				li:nth-child(#{$i}) {
					a {
						-webkit-transition-duration: 200ms;
						transition-duration: 200ms;
						-webkit-transition-timining-function: cubic-bezier(0.175, 0.6, 0.32, 1.275);
						transition-timing-function: cubic-bezier(0.175, 0.6, 0.32, 1.275);
					}
				}
			}
		}

		a {
			padding-top: 100%;
			top: 0;
			transition: top 400ms $bounce;
			width: 100%;

			&:before {
				height: 0;
				width: 100%;
				transition: all 200ms cubic-bezier(0.175, 0.6, 0.32, 1.275);
			}

			&:after {
				height: 90%;
				left: 5%;
				top: 5%;
				width: 90%;
			}

			b {
				@include navLinkDrop;
				width: 100%;
				bottom: 0;
				transition: bottom 100ms $bounce 120ms, background 0s linear 120ms, text-indent 0s linear 140ms;
			}

			&:hover, &:focus {
				&:before {
					height: 100%;
				}

				b {
					@include navLinkDropHover;
					bottom: -2.25em;
				}
			}
		}

	}

	form {
		margin: 2em 0;
		opacity: 1;
		padding: 10px;
		transition: opacity $homeDelay ease $homeDelay + (200ms*6);
		p {
			margin: 0 auto;
			width: 85%;
			@include breakpoint($small) {
				max-width: 25em;
			}
		}
	}

	//initial animation
	.js & {
		&.loading {
			h1 a{
				opacity: 0;
				transition: none;
			}
			@for $i from 0 through 2 {
				li:nth-child(#{(2 * $i) + 1}), li:nth-child(#{(2 * $i) + 2}) {
					a {
						top: -11em - $i * 11em
					}
				}
			}
			@include breakpoint($tiny) {
				@for $i from 0 through 1 {
					li:nth-child(#{(3 * $i) + 1}), li:nth-child(#{(3 * $i) + 2}), li:nth-child(#{(3 * $i) + 3}) {
						a {
							top: -11em - $i * 11em
						}
					}
				}
			}
			@include breakpoint($small) {
				@for $i from 1 through 6 {
					li:nth-child(#{$i}) {
						a {
							top: -22em
						}
					}
				}
			}
			form {
				opacity: 0;
			}
		}
	}
}