.randomizer {
	color: $plum;
	font-size: 3em;
	margin: 10% auto 0;
	max-width: 8em;
	perspective: 1000px;
	padding-top: 5em;
	position: relative;
	text-align: center;
	width: 100%;

	p {
		margin: 0;
	}

	span {
		@include loader(4em);
	}
	
}