.recipe-search-list {
	h1 {
		font-size: 1.5em;
		font-weight: 300;

		@include breakpoint($small) {
			font-size: 2.5em;
		}
	}

	.query {
		border-bottom: 2px solid $plum;
		display: block;
		font-size: 2em;
		font-weight: 400;
		line-height: 1;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		list-style: none;
		margin: 0 -.25em;
		padding: 0;
		li {
			flex: 1 1 auto;
			margin: 0 .25em .5em;
			a {
				display: block;
				position: relative;

				&:before {
					background: inline-image("arrow.svg") no-repeat center / auto 40%;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					top: 0;
					transition: all 50ms ease;
					width: 0;
				}

				b {
					background: $plum;
					box-sizing: border-box;
					color: #fff;
					display: block;
					font-size: 1.25em;
					font-weight: 300;
					padding: .5em 2em .5em 1em;
					text-indent: 0;
					transition: all 150ms ease;
				}

				&:hover, &:focus {
					text-decoration: none;

					&:before {
						transition: width 200ms cubic-bezier(0.175, 1.75, 0.7, 1.275);
						width: 2em;
					}

					b {
						background: darken($plum, 5%);
						padding: .5em 1.5em .5em 1em;
						text-indent: .5em;
						transition: all 200ms cubic-bezier(0.175, 1.75, 0.7, 1.275);
					}
				}
			}
		}
	}
}

.no-results {
	.no-results-actions {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		margin: 2em 0;
		text-align: center;

		a {
			background: $plum;
			border-radius: 2px;
			box-sizing: border-box;
			color: #fff;
			display: block;
			margin-bottom: 1em;
			padding: 1em;
			width: 100%;

			b {
				//background: rgba(255,255,255,.5);
				display: block;
				font-size: 200%;
				font-weight: 300;
				line-height: normal;
				margin-top: 0;
				transition: all 200ms $bounce;
			}

			&:hover, &:focus {
				background: darken($plum, 5%);
				text-decoration: none;

				b {
					font-size: 225%;
					margin-top: 5px;
				}
			}

			@include breakpoint($tiny) {
				float: left;
				width: 49%;
			}
		}
	}
}