<div class="recipe-search-list">
	<h1>nomsbase query: <span class="query">{{searchTerm}}</span></h1> 
	<ul data-ng-if="recipes.length > 0">
		<li data-ng-repeat="recipe in recipes">
			<a href="/recipe/{{recipe.recipeid}}/{{ recipe.name.toLowerCase().replace(urlRegex, '-') }}"><b>{{recipe.name}}</b></a>
		</li>
	</ul>

	<div data-ng-if="recipes.length === 0 && resultsLoaded" class="no-results">
		<p>Hmm... I don't think I've got any recipes for that.</p>
		<div class="no-results-actions">
			<a href="//google.com/search?q={{searchTerm}}" target="_blank">Want to find a new one? <b>Google it.</b></a>
			<a href="/random">No time for Google? <b>Randomize!</b></a>
		</div>
	</div>
</div>