<!DOCTYPE html>
<html lang="en" ng-app="nomsbase" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/css/main.css" rel="stylesheet">
    <title><%= title %></title>
    <script>document.getElementsByTagName('html')[0].className = document.getElementsByTagName('html')[0].className.replace('no-js','js');</script>
</head>
<body>
    <a href="#nav" id="skip-to-nav">Skip to Navigation</a>
    <main>
        <%- body %>
    </main>
    <nav <%if (title == 'nomsbase') { %>class="home"<% } %>>
        <h1 id="nav-label">nomsbase</h1>
        <ul id="nav" aria-labelledby="nav-label">
            <li><a href="#" class="cake">cake</a></li>
            <li><a href="#" class="cookies">cookies</a></li>
            <li><a href="#" class="brownies">brownies/bars</a></li>
            <li><a href="#" class="bread">bread</a></li>
            <li><a href="#" class="candy">candy</a></li>
            <li><a href="#" class="other">other</a></li>
        </ul>
        <form class="search" action="/recipes/">
            <label for="search">Search</label>
            <input type="search" id="search" placeholder="search" name="q" autocomplete="off"/>
        </form>
    </nav>
    <script src="/js/main.js"></script>
</body>
</html>