<h1>nomsbase query: '{{data.searchTerm}}'</h1> 
<ul ng-repeat="recipe in data.recipes">
	<li><a href="/recipe/{{recipe.recipeid}}/{{ recipe.name.toLowerCase().replace(' ', '-') }}">{{recipe.name}}</a></li>
</ul>
