@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Abel|Ubuntu+Mono|Poiret+One|Gochi+Hand|VT323|Gruppo|Homenaje);

$fonts: 'Alfa Slab One', 'Abel', 'Ubuntu Mono', 'Poiret One', 'Gochi Hand', 'VT323', 'Gruppo', 'Homenaje';

@each $font in $fonts {
	
}

/* font-family: 'Alfa Slab One', cursive;
font-family: 'Abel', sans-serif;
font-family: 'Ubuntu Mono', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'VT323', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Homenaje', sans-serif; */