nav {
	@extend %borderbox;
	@include flex-property(order, 1);
	background: $plum;
	padding: 10px;
	h1 {
		line-height: .75em;
		margin: 0;
		b {
			@extend %wai;
		}
	}
	form {
		label {
			@extend %wai;
		}
		input {
			@extend %borderbox;
			background: inline-image("whisk.svg") darken($plum, 2%) no-repeat 3px 2px/25px 25px;
			border: none;
			border-radius: 3px;
			box-shadow: -1px -1px 2px 0 rgba(0,0,0,.5);
			color: rgba(255,255,255,.75);
			font-size: 16px;
			padding: 5px 5px 5px 35px;
			width: 100%;
			&:focus {
				background-color: darken($plum, 5%);
				outline: none;
			}
			&::-webkit-input-placeholder {
			   color: rgba(255,255,255,.4);
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: rgba(255,255,255,.4);
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: rgba(255,255,255,.4);
			}

			&:-ms-input-placeholder {  
			   color: rgba(255,255,255,.4);
			}
		}
	}
	ul {
		@extend %display-flex;
		@include flex-property(flex-flow, row wrap);
		@include flex-property(justify-content, space-between);
		clear: both;
		list-style: none;
		margin: 10px 0;
		padding: 0;
		li {
			margin-bottom: .25em;
			width: 49%;
		}
	}
	a {
		display: block;
		padding: .5em 0 .5em 2.75em;
		position: relative;
		@include transition(all 100ms ease);
		&:before, &:after {
			content: "";
			display: block;
			left: 0;
			position: absolute;		
			top: -.125em;	
		}
		&:before {
			background: rgba(255,255,255,1);
			border-radius: 100%;
			height: 0;
			margin: 1.25em 0 0 1.25em;
			width: 0;
			@include transition(all 100ms ease);
		}
		&:hover, &:focus {
			padding-left: 3em;
			&:before {
				height: 2.5em;
				margin: 0;
				width: 2.5em;
				z-index: 1;
			}
		}
		&:after {
			height: 2.5em;
			width: 2.5em;
			z-index: 2;
		}
		$noms: cookies cake brownies bread candy other;
		@each $nom in $noms {
			&.#{$nom}:after {
				background: image-url("#{$nom}.svg") no-repeat center/85% auto;
			}
		}
	}
}