<!DOCTYPE html>
<html lang="en" data-ng-app="nomsbase" class="no-js" data-ng-controller="MainCtrl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/css/main.css" rel="stylesheet">
    <title data-ng-bind="Page.title()">nomsbase</title>
    <script>document.getElementsByTagName('html')[0].className = document.getElementsByTagName('html')[0].className.replace('no-js','js');</script>
</head>
<body data-ng-class="{ home: isHome() }">
    <a href="#nav" id="skip-to-nav" data-ng-click="toggleMenu($event)" data-ng-class="{ open: menuOpen }">Skip to Navigation</a>
    <main>
        <div ng-view></div>
    </main>
    <nav data-ng-class="{ home: isHome(), open: menuOpen }">
        <div>
            <h1 id="nav-label"><a href="/" data-ng-click="toHome()">nomsbase</a></h1>
            <div class="nav-actions">
                <ul id="nav" aria-labelledby="nav-label">
                    <li><a href="/edit/2" class="cake"><b>cake</b></a></li>
                    <li><a href="/recipes/cookies" class="cookies"><b>cookies</b></a></li>
                    <li><a href="#" class="brownies"><b>brownies/bars</b></a></li>
                    <li><a href="#" class="bread"><b>bread</b></a></li>
                    <li><a href="#" class="candy"><b>candy</b></a></li>
                    <li><a href="#" class="other"><b>other</b></a></li>
                </ul>
                <form data-ng-submit="searchRecipes($event)" novalidate>
                    <p>
                        <label for="search">Search</label>
                        <input type="search" id="search" placeholder="search" data-ng-model="searchTerm" name="searchTerm" autocomplete="off" required="required" aria-required="true"/>
                        <button type="submit">Go</button>
                    </p>
                </form>
            </div>
        </div>
    </nav>
    <script src="/js/main.js"></script>
</body>
</html>